.container {
  font-family: var(--font-family);
  border-radius: 0.65rem;
  height: 4rem;
  flex-shrink: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.buttonPrimary {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.buttonSecondary {
  background-color: var(--card-backgroud);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.buttonDisabled {
  background-color: var(--disabled-color);
  color: var(--background-color);
}

.xLarge {
  width: 100%;
}

.large {
  width: 90%;
}

.medium {
  width: 80%;
}

.small {
  width: 30%;
}

.fit {
  width: max-content;
}

.spinner {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 3px solid white;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
